In [1]:
print("0807 hi")

0807 hi

In [4]:
age, Name = 18, "HS"

In [7]:
age, Name

(18, 'HS')

In [8]:
A=B=C=777

In [9]:
A,B,C

(777, 777, 777)

In [14]:
早餐=100

In [16]:
午餐=100

In [19]:
餐費=早餐+午餐

In [20]:
print(餐費)

200

In [21]:
餐費

200

In [22]:
a=1

In [23]:
b=2

In [25]:
週三溫度=33

In [26]:
週四溫度=34

In [27]:
週五氣溫=35

In [28]:
週六氣溫=36

In [29]:
週日氣溫=37

In [32]:
四天溫度平均=(週三溫度+週四溫度+週五氣溫+週六氣溫) /4

In [33]:
print(四天溫度平均)

34.5

In [35]:
週三溫度,週四溫度,週五氣溫,週六氣溫=33,34,35,36

In [36]:
print(((週三溫度+週四溫度+週五氣溫+週六氣溫) /4))

34.5

In [38]:
日花費=300
周花費=日花費*7
月花費=周花費*4
月花費

8400