In [1]:
print("0820")

0820

In [2]:
a=range(5)

In [3]:
print(list(a))

[0, 1, 2, 3, 4]

In [4]:
b=range(1,6)

In [5]:
print(list(b))

[1, 2, 3, 4, 5]

In [6]:
c=range(1,10,2)

In [7]:
print(list(c))

[1, 3, 5, 7, 9]

In [8]:
d=range(10,1,-2)

In [10]:
print(list(d))

[10, 8, 6, 4, 2]

In [23]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [25]:
list2=['香蕉','蘋果','橘子']
print(list2)

['香蕉', '蘋果', '橘子']

In [26]:
list3=[1,'柚子', True]
print(list3)

[1, '柚子', True]

In [27]:
print(list2[1])

蘋果

In [28]:
print(list1[0])

1

In [29]:
print(list1[-3])

3

In [30]:
print(list2[-1])

橘子

In [31]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]
print(list5[1])

['mary', 'abcd']

In [32]:
print(list5[0])

[['tom', '1234']]

In [33]:
print(list5[1][1])

abcd

In [34]:
print(list5[0][0])

['tom', '1234']

In [35]:
print(list5[1][0])

mary

In [39]:
list6=[["85"],["79"],["93"]]
print("國文成績:",list6[0][0],"分")
print("數學成績:",list6[1][0],"分")
print("英文成績:",list6[2][0],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [42]:
list1=['香蕉','蘋果','橘子']
for n in list1:
    print(n,end=",")

香蕉,蘋果,橘子,

In [43]:
list2=[123,'apple', True]
for a in list2:
    print(a)

123
apple
True

In [47]:
scores=[85,79,93]

In [48]:
print(len(scores))
for i in range(len(scores)):
    print(scores[i])

3
85
79
93

In [49]:
list6=[["85"],["79"],["93"]]

print("國文成績:",list6[0][0],"分")
print("數學成績:",list6[1][0],"分")
print("英文成績:",list6[2][0],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [51]:
list10=[85,79,93]
for n in list10:
    print("國文成績:",list10,"分")
    print("數學成績:",list10,"分")
    print("英文成績:",list10,"分")

國文成績: [85, 79, 93] 分
數學成績: [85, 79, 93] 分
英文成績: [85, 79, 93] 分
國文成績: [85, 79, 93] 分
數學成績: [85, 79, 93] 分
英文成績: [85, 79, 93] 分
國文成績: [85, 79, 93] 分
數學成績: [85, 79, 93] 分
英文成績: [85, 79, 93] 分

In [82]:
a=[85,79,93]
b=["Tom","Mary","Tony"]
c=[1,2,3]
d=["國文成績:","數學成績:","英文成績:"]
for i in range(len(b)):
    print("編號",c[i],"姓名",b[i])
    for j in range(len(a)):
        print(d[j],a[j],"分")

編號 1 姓名 Tom
國文成績: 85 分
數學成績: 79 分
英文成績: 93 分
編號 2 姓名 Mary
國文成績: 85 分
數學成績: 79 分
英文成績: 93 分
編號 3 姓名 Tony
國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [87]:
list=['apple','banana','cake']
for a in list:
    print(a,end=" ")

apple banana cake

In [91]:
list=[['apple'],['banana'],['cake']]
for a in list:
    print(a,end=" ")

['apple'] ['banana'] ['cake']

In [96]:
year=int(input())
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(f'{year} is leap year')
        else:
            print(f'{year} is common year')
    else:
       print(f'{year} is leap year')
else:
    print(f'{year} is common year')

2022 is common year

In [109]:
# 取得使用者輸入
user_input = input("")

# 解析輸入
start, end, step = map(int, user_input.split())

# 產生數列並用','分隔
result = ','.join(str(i) for i in range(start, end, step))

# 輸出結果
print(result)

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95

In [110]:
# 取得使用者輸入
user_input = input("請輸入三個字串，用空格分隔: ")

# 解析輸入並反轉順序
result = ' '.join(user_input.split()[::-1])

# 輸出結果
print(result)

cake banana apple